<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--header-->
    <div th:fragment="header(active)" class="ui segment attached inverted m-padding-tb-1 m-shadow-small">
        <div class="ui container">
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui teal header item">博客管理</h2>
            <a th:href="@{/admin/blogs/1/6}" class="item m-mobile-hide m-item"  th:classappend="${active==1}? 'active'"><i class="icon home"></i>博客</a>
            <a th:href="@{/admin/types/1/6}" class="item m-mobile-hide m-item"  th:classappend="${active==2}? 'active'"><i class="icon idea"></i>分类</a>
            <a th:href="@{/admin/tags/1/6}" class="item m-mobile-hide m-item"  th:classappend="${active==3}? 'active'"><i class="icon tags"></i>标签</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui dropdown item" >
                    <div class="text">
                        <th:block th:if="${session.user}">
                            <img class="ui image avatar"  th:src="${session.user.avatar}" alt="">
                            <span th:text="${session.user.nickname}"></span>
                        </th:block>
                    </div>
                    <i class="ui dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/admin/logout}" class="item">注销</a>
                        <a href="#" class="item">修改密码</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="ui black  icon button m-top-right m-mobile-show" id="toggle">
            <i href=" " class="icon sidebar  "></i>
        </a>
    </div>
    </div>


    <!--        二级菜单-->
    <div th:fragment="twomenu(activetwo)" class="ui attached pointing menu  ">
        <div class="ui container">
            <div class="right menu">
                <a href="" class="item" th:classappend="${activetwo==2}? 'active'">发布</a>
                <a href="" class="item teal" th:classappend="${activetwo==1}? 'active'">列表</a>
            </div>
        </div>
    </div>

</body>
</html>