<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>500</title>
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
    <link rel="stylesheet" type="text/css"  href="../../static/css/index.css" th:href="@{../css/index.css}">
</head>
<body>
<div th:replace="common :: header(0)">
    <div class="ui container">
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui teal header item">Blog</h2>
            <a href="/blog/index" class="item m-mobile-hide m-item "  th:classappend="${active==1}? 'active'"><i class="icon home"></i>首页</a>
            <a href="/blog/types" class="item m-mobile-hide m-item" th:classappend="${active==2}? 'active'"><i class="icon idea"></i>分类</a>
            <a href="/blog/tags" class="item m-mobile-hide m-item" th:classappend="${active==3}? 'active'"><i class="icon tags"></i>标签</a>
            <a href="/blog/archives" class="item m-mobile-hide m-item" th:classappend="${active==4}? 'active'"><i class="icon clone"></i>归档</a>
            <a href="/blog/about" class="item m-mobile-hide m-item" th:classappend="${active==5}? 'active'"><i class="info icon"></i>关于我</a>
            <div class="right item m-mobile-hide m-item">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
        <a class="ui black  icon button m-top-right m-mobile-show" id="toggle">
            <i href=" " class="icon sidebar  "></i>
        </a>
    </div>

</div>

<br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-massive">
        <div class="ui container m-margin-tb-1">
            <h2>500</h2>
            <p>对不起,系统开小差了</p>
        </div>
    </div>
</div>
<br>
<br>
<br>


<!--    footer-->
<footer th:replace="common::footer(2)">
</footer>
</body>
</html>