<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>标签</title>
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" type="text/css"  href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>

    <div th:replace="common :: header(3)" class="ui segment attached inverted m-padding-tb-1 m-shadow-small">
    </div>

<!--中间部分-->
    <div class="m-container-small m-padding-tb-5">
        <div class="ui container">
<!--            heaher-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">标签</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin">14</h2> 个
                    </div>
                </div>
            </div>
            <div class="ui  top segment m-padding-tb-4">
                <a href="#" class="ui label large teal basic left pointing m-margin-tb-1">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" class="ui label large  basic left pointing m-margin-tb-1">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" class="ui label large  basic left pointing m-margin-tb-1">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" class="ui label large  basic left pointing m-margin-tb-1">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" class="ui label large  basic left pointing m-margin-tb-1">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" class="ui label large  basic left pointing m-margin-tb-1">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" class="ui label large  basic left pointing m-margin-tb-1">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" class="ui label large  basic left pointing m-margin-tb-1">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" class="ui label large  basic left pointing m-margin-tb-1">
                    方法论 <div class="detail">23</div>
                </a>
            </div>
<!--            列表-->
            <div class="ui attached segment teal">
                <div class="ui  padded m-mobile-lr-clear vertical m-container segment m-padding-tb-4 m-padding-tb-li">
                    <div class="ui grid stackable mobile reversed">
                        <div class="eleven wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                            <p>打发给对方栅格电饭锅放到水果放到梵蒂冈梵蒂冈梵蒂冈电饭锅梵蒂冈地方栅格梵蒂冈地方栅格地方开了个会回复的梵蒂冈覆盖花开富贵好看冠福股份</p>
                            <div class="ui stackable grid">
                                    <div class="row">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://i.picsum.photos/id/237/100/100.jpg" alt="" class="ui image avatar">
                                                    <div class="content"><a class="header">郭大侠</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span>2020-04-10</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i><span>2020</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic  label m-padding-tb--1 m-text-thin">认知升级</a>
                                        </div>
                                    </div>
<!--                                文章标签-->
                                    <div class="row">
                                        <div class="column">
                                            <a href="#" class="ui label teal large  basic left pointing m-margin-tb-1 m-padded-mini m-text-thin">
                                                方法论
                                            </a>
                                        </div>
                                    </div>

                            </div>
                        </div>
                        <!--                            图片-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img class="ui image rounded" src="https://i.picsum.photos/id/237/800/450.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui  padded m-mobile-lr-clear vertical m-container segment m-padding-tb-4 m-padding-tb-li">
                    <div class="ui grid stackable mobile reversed">
                        <div class="eleven wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                            <p>打发给对方栅格电饭锅放到水果放到梵蒂冈梵蒂冈梵蒂冈电饭锅梵蒂冈地方栅格梵蒂冈地方栅格地方开了个会回复的梵蒂冈覆盖花开富贵好看冠福股份</p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/237/100/100.jpg" alt="" class="ui image avatar">
                                                <div class="content"><a class="header">郭大侠</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span>2020-04-10</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span>2020</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="" target="_blank" class="ui teal basic  label m-padding-tb--1 m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <!--                                文章标签-->
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui label teal large  basic left pointing m-margin-tb-1 m-padded-mini m-text-thin">
                                            方法论
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--                            图片-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img class="ui image rounded" src="https://i.picsum.photos/id/237/800/450.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui  padded m-mobile-lr-clear vertical m-container segment m-padding-tb-4 m-padding-tb-li">
                    <div class="ui grid stackable mobile reversed">
                        <div class="eleven wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                            <p>打发给对方栅格电饭锅放到水果放到梵蒂冈梵蒂冈梵蒂冈电饭锅梵蒂冈地方栅格梵蒂冈地方栅格地方开了个会回复的梵蒂冈覆盖花开富贵好看冠福股份</p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/237/100/100.jpg" alt="" class="ui image avatar">
                                                <div class="content"><a class="header">郭大侠</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span>2020-04-10</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span>2020</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="" target="_blank" class="ui teal basic  label m-padding-tb--1 m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <!--                                文章标签-->
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui label teal large  basic left pointing m-margin-tb-1 m-padded-mini m-text-thin">
                                            方法论
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--                            图片-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img class="ui image rounded" src="https://i.picsum.photos/id/237/800/450.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui  padded m-mobile-lr-clear vertical m-container segment m-padding-tb-4 m-padding-tb-li">
                    <div class="ui grid stackable mobile reversed">
                        <div class="eleven wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                            <p>打发给对方栅格电饭锅放到水果放到梵蒂冈梵蒂冈梵蒂冈电饭锅梵蒂冈地方栅格梵蒂冈地方栅格地方开了个会回复的梵蒂冈覆盖花开富贵好看冠福股份</p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/237/100/100.jpg" alt="" class="ui image avatar">
                                                <div class="content"><a class="header">郭大侠</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span>2020-04-10</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span>2020</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="" target="_blank" class="ui teal basic  label m-padding-tb--1 m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <!--                                文章标签-->
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui label teal large  basic left pointing m-margin-tb-1 m-padded-mini m-text-thin">
                                            方法论
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--                            图片-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img class="ui image rounded" src="https://i.picsum.photos/id/237/800/450.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui  padded m-mobile-lr-clear vertical m-container segment m-padding-tb-4 m-padding-tb-li">
                    <div class="ui grid stackable mobile reversed">
                        <div class="eleven wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                            <p>打发给对方栅格电饭锅放到水果放到梵蒂冈梵蒂冈梵蒂冈电饭锅梵蒂冈地方栅格梵蒂冈地方栅格地方开了个会回复的梵蒂冈覆盖花开富贵好看冠福股份</p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/237/100/100.jpg" alt="" class="ui image avatar">
                                                <div class="content"><a class="header">郭大侠</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span>2020-04-10</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span>2020</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="" target="_blank" class="ui teal basic  label m-padding-tb--1 m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <!--                                文章标签-->
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui label teal large  basic left pointing m-margin-tb-1 m-padded-mini m-text-thin">
                                            方法论
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--                            图片-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img class="ui image rounded" src="https://i.picsum.photos/id/237/800/450.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--       上下页-->
            <div class="ui  bottom attached  segment">
                <div class="ui mini middle grid attached two column ">
                    <div class="column ">
                        <div class="item"><a class="button  ui teal basic " href="#" >上一页</a></div>
                    </div>
                    <div class="right aligned column">
                        <div class="item"><a class="ui  teal basic button" href="#">下一页</a></div>
                    </div>
                </div>
            </div>

        </div>
        </div>

    </div>

<!--    footer-->
    <footer th:replace="common::footer">
    </footer>



    <script src="../static/js/jquery-2.0.2.min.js" th:src="@{/js/jquery-2.0.2.min.js}"></script>
    <script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>


    <script>
        // 首页导航栏
        $("#toggle").click(function () {
            $(".m-item").toggleClass("m-mobile-hide");
        });

    </script>

</body>
</html>